<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Unimed Criciúma</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <!-- <ion-menu-toggle> -->
    <!-- <ion-button>Click to close the menu</ion-button> -->
    <!-- </ion-menu-toggle> -->

    <ion-button [routerLink]="['/']">Sair</ion-button>
    <ion-button [routerLink]="['/todo']">Todo</ion-button>
  </ion-content>
</ion-menu>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">home</ion-title>
    </ion-toolbar>
  </ion-header>
  <div
    id="main-content"
    class="bg-green-700 !text-white min-h-52 flex flex-col justify-between"
  >
    <div class="flex justify-between items-center px-5">
      <ion-button size="large" fill="clear" color="light" shape="round">
        <ion-icon
          size="large"
          class="w-12 h-12"
          name="person-circle-outline"
        ></ion-icon>
      </ion-button>
      <ion-menu-toggle>
        <ion-button fill="clear" color="light" shape="round">
          <ion-icon slot="icon-only" class="w-8 h-8" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </div>
    <form class="p-4" [formGroup]="form">
      <ion-input
        label="Adicionar tarefa"
        formControlName="option"
        type="text"
        labelPlacement="stacked"
      ></ion-input>
      <ion-button size="sm" expand="block" (click)="addTodo()" shape="round">
        Adicionar
      </ion-button>
    </form>
  </div>
  <div class="flex flex-col p-2">
    <ul class="flex flex-col gap-2">
      <li
        *ngFor="let item of items"
        class="border-2 flex justify-between items-center border-green-300 p-2 rounded-md"
      >
        {{item}}
        <ion-button (click)="remove(item)" color="danger" size="small">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
      </li>
    </ul>
  </div>
</ion-content>
